 

.Calculator {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 450px;
  margin:auto;

}

.calculatorchildButton {
  flex: 51%;

}

.calculatorchildDisplay {
  flex: 51%;
  background-color: grey;
  height: 119px;
  overflow: hidden;

  grid-column-start: span 4;
    color: white;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    word-wrap: break-word;
}

.mainButtonCointainer {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.rowButtonCointainer {
  flex: 58%;
  margin-top: -17px;
}

button {
  width: 90px;
  height: 80px;
  font-size: 30px;
  background-color: rgb(214, 211, 211);
  border-color:rgb(164, 164, 164);
}

.rowButtonCointainerLast {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
}
.display{
  font-size: 55px;
  color: white;
  text-align: right;
  margin-top: 17px;
}